CLOUDINARY_CLOUD_NAME=dwe6cjqga
CLOUDINARY_API_KEY=272485519596644
CLOUDINARY_API_SECRET=FNCyS7yEz0ru05eu7TuC-LMmZlo
CORS_ALLOWED_HOSTS='*,https://ekzameen.com'
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=postgres
DATABASE_PASS=
DATABASE_SCHEMA=property_me
NODE_ENV=development
PORT=7890
FRONTEND_BASE_URL=https://ekzameen.com