.headerHeight {
  min-height: 450px !important;
  height: 100%;
}
.headerBgColor {
  background-color: #008a43 !important;
}

.headerBgImage {
  background-image: url("../../public/images/headerbg.png");
  background-position: bottom center;
  background-repeat: repeat-x;
}
